<!DOCTYPE html>
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    title= '404'
    style(type='text/css').
      html, body {
        height: 100%;
        margin: 0;
        padding: 0;
      }
      body {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
      }
      b {
        display: block;
        font-size: 2em;
      }
  body
    b The thing you are looking for is not exist!
    pre= errMsg